<div class="box" style="margin:10px auto">
    <strong>XJS32</strong>
    <div style="width:70%"></div>
    <span>account_name</span>
</div>
<h1>Steam AuthCodes</h1>
<div ng-if="user.steamid===undefined">
    <a href="/login"><img alt="login" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png"></a>
</div>
<div ng-if="user.steamid!==undefined">
    <h3>Hello {{user.name}}!
    </h3>
    <h4>You don not have permission!</h4>
    <a class="link" href="/logout">Logout</a>
</div>
