@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('http://codes.loscsgo.com/images/bg.jpg');
    background-size: cover;
    font-family: Ubuntu, Arial;
    color: #eeeeee;

    background: #171A21;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
}

.header {
    text-align: center;
}

.footer {
    text-align: center;
    margin-boxtom: 30px;
}

.footer a {
    margin: 0 15px;
}

.main {
    text-align: center;
}

.main--codes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    transition: 0.3s;
    color: #00adee;
    border-boxtom: 1px solid transparent;
}

.link:hover, .link:focus {
    color: #eeeeee;
    border-boxtom: 1px solid #00adee;
}

.box {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    min-width: 150px;
    background: rgba(0, 0, 102, 0.1);
    border: 1px solid rgba(238, 238, 238, 0.25);
}

.box--red .box__code {
    color: #cd201f;
}

.box--red .box__bar {
    background: #cd201f;
}

.box__code {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.box__bar {
    height: 7px;
    background: #00adee;
    margin: 10px 0 5px;
    width: 100%;
    display: inline-block;
}

.box__name {
    display: block;
    color: #00adee;
}