<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Steam AuthCodes</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#171A21">
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body ng-controller="MainCtrl">
    <h1>Steam AuthCodes</h1>
    <div ng-if="user.access===true">
        <div class="container">
            <div ng-repeat="acc in accounts" ng-class="{'box--red':width<30}" class="box">
                <strong>{{acc.code}}</strong>
                <div ng-style="{'width':width+'%'}"></div>
                <span>{{acc.username}}</span>
            </div>
        </div>
        <a class="link" href="/logout">Logout</a>
    </div>
    <div ng-if="user.access!==true">
        <div ng-if="user.steamid===undefined">
            <a href="/login"><img alt="login" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png"></a>
        </div>
        <div ng-if="user.steamid!==undefined">
            <h3>Hello {{user.name}}!</h3>
            <h4>You do not have permission!</h4>
            <a class="link" href="/logout">Logout</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>
